header, nav, article, aside, footer {
    border:1px solid black;
    text-align:center;
    background:white;
    margin:5px;
}
/*nav, article, aside wrapper*/
section{
    display:flex; 
    margin:0;
}
/*size of nav, artivle, aside*/
nav{
    flex:1;
}
article{
    flex:3;
}
aside{
    flex:1;
}
footer{

}
/*The @media rule is used in media queries to apply different styles for different media types/devices.*/
@media only screen and (max-width: 660px) {
    section {
      flex-direction:column;
    }
  }